.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;  
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* 컨테이너의 최대 너비를 확장 */
    width: 100%;
}

.form-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    width: 100%;
    margin-bottom: 20px; /* 간격을 더 넓혔습니다 */
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

.input-container input {
    padding: 12px 14px; /* 기존보다 padding 줄임 */
    font-size: 1rem; /* 약간 축소 (1.1 → 1.0rem) */
}

.input-container.column {
	flex-direction: column;
	align-items: flex-start; /* 왼쪽 정렬 */
	text-align: left;
	margin-bottom: 1px;
}

.input-btn-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px; /* 간격 조정 */
}

.input-btn-wrap input {
    flex: 1;
}

.input-container p {
    margin-bottom: 6px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.input-container input {
    width: 100%; /* 입력 칸의 너비를 100%로 설정 */
    padding: 15px; /* 입력칸을 더 넓혔습니다 */
    font-size: 1.1rem; /* 폰트 크기 확장 */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.memberJoinCheckBtn {
    padding: 10px;
    font-size: 0.875rem;
    color: #fff;
    background-color: #4F46E5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* 중복 확인 버튼과 입력 칸 사이의 간격 */
    flex-shrink: 0;
}

.button-container {
    width: 100%;
    margin-top: 20px; /* 버튼과 입력 필드 사이의 간격을 추가했습니다 */
}

.button-container button {
    width: 100%;
    padding: 15px; /* 입력칸을 더 넓혔습니다 */
    font-size: 1.1rem; /* 폰트 크기 확장 */
    color: #fff;
    background-color: #4F46E5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #3b3a99;
}

.gender-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px; /* 성별 선택 칸과 회원가입 버튼 사이의 간격 */
}

.gender-container label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gender-container input[type="radio"] {
    display: none;
}

.gender-container input[type="radio"] + span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4F46E5;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.gender-container input[type="radio"]:checked + span {
    background-color: #4F46E5;
}

.gender-container label:hover {
    background-color: #f0f0f0;
}