@charset "UTF-8";

h1 {
    color: #2a8fbd;
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
}

th {
    background-color: #2a8fbd;
    color: white;
    font-size: 16px;
}

td {
    font-size: 14px;
    color: #333;
}

tr:last-child td {
    border-bottom: none;
}

/* Links Styling */
.a {
    color: #2a8fbd;
    text-decoration: none;
    font-weight: bold;
}

.a:hover {
    color: #176c93;
    text-decoration: underline;
}

.add-btn {
    background-color: #2a8fbd;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.add-btn:hover {
    background-color: #176c93;
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    table {
        width: 95%;
    }

    th, td {
        font-size: 12px;
        padding: 10px;
    }

    .add-btn {
        font-size: 12px;
        padding: 8px 12px;
    }
}

.add-btn-div {
	margin-top: 20px;
    display: flex;
    justify-content: center;
}
