@charset "UTF-8";

#container {
	width:100%;
	margin:0 auto;
	text-align:center;
	border:0px solid #bcbcbc;
}

#header {
	padding:5px;
	margin-bottom:5px;
	border:0px solid #bcbcbc;
	background-color:lightgreen;
}

#sidebar-left {
	width:15%;
	height:630px;
	padding:5px;
	margin-right:5px;
	margin-bottom:5px;
	float:left;
	background-color:yellow;
	border:0px solid #bcbcbc;
	font-size:10px;
}

#content {
	width:75%;
	padding:5px;
	margin-right:5px;
	float:left;
	border:0px solid #bcbcbc;
}

#footer {
	clear:both;
	padding:5px;
	border:0px solid #bcbcbc;
	background-color:lightblue;
}

.no-underline {
	text-decoration: none;
	display: block;
}

.footer_p{
	font-size:20px;
	text-align:center;
}

.footer-no-underline {
	text-decoration: none;
}
